<tr>
	<td class="event-data"><%= event.event_date.strftime("%m/%d/%Y") %></td>
	<td class="event-data"><%= Date.today.strftime("%Y").to_i - event.event_date.strftime("%Y").to_i %>  years </td>
	<td class="event-data"><%= event.description %></td>
</tr>