<table border="0" cellspacing="5" cellpadding="5">
	<tr>
		<th>Event</th>
		<th>Distance</th>
		<th>Description</th>
	</tr>

<%= render :partial => 'person_event', :collection => @person.events, :as => :event %>

</table>
